.main-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}
.button{
    border: none;
    padding: 20px 40px ;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    cursor: pointer;
   background-color: white;
    color: white;
    background-color: black;
    font-weight: bolder;
    transition: all 0.5s ease;
    
}
.button:hover{
    background-image: linear-gradient(to right, #000000, rgb(77, 35, 110));
    border:  none;
    color: white;
}

