.navbar{
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height:65px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    opacity: 0;
    animation: slideDown 2s ease-out 4s forwards;
    box-sizing: border-box;
}
.navbar:hover{
    background-color: white;
    transition: 1s;
   
}
.navbar a{
    border-bottom: 1px solid transparent;
    transition: 0.1s;
}
.navbar a:hover{
    color: black;
    border-bottom-color: black;
    transition: 1s;
    
    
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}